@font-face {
	font-family: 'rivercity';
	src:url('fonts/rivercity.eot?k47bcy');
	src:url('fonts/rivercity.eot?#iefixk47bcy') format('embedded-opentype'),
		url('fonts/rivercity.ttf?k47bcy') format('truetype'),
		url('fonts/rivercity.woff?k47bcy') format('woff'),
		url('fonts/rivercity.svg?k47bcy#rivercity') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ricon"], [class*=" ricon"] {
	font-family: 'rivercity';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.riconlogo:before {
	content: "\e627";
}
.riconbluffview .path1:before {
	content: "\e600";
	color: rgb(255, 255, 255);
}
.riconbluffview .path2:before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(255, 171, 179);
}
.riconbluffview .path3:before {
	content: "\e602";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path4:before {
	content: "\e603";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path5:before {
	content: "\e604";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path6:before {
	content: "\e605";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path7:before {
	content: "\e606";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path8:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path9:before {
	content: "\e608";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconbluffview .path10:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(170, 2, 30);
}
.riconcitycenter .path1:before {
	content: "\e60a";
	color: rgb(255, 255, 255);
}
.riconcitycenter .path2:before {
	content: "\e60b";
	margin-left: -1em;
	color: rgb(176, 220, 197);
}
.riconcitycenter .path3:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(4, 67, 36);
}
.riconcitycenter .path4:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(6, 66, 35);
}
.riconcitycenter .path5:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(6, 66, 35);
}
.riconcitycenter .path6:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(6, 66, 35);
}
.riconcitycenter .path7:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(6, 66, 35);
}
.riconcitycenter .path8:before {
	content: "\e611";
	margin-left: -1em;
	color: rgb(6, 66, 35);
}
.riconnorthshore .path1:before {
	content: "\e612";
	color: rgb(255, 255, 255);
}
.riconnorthshore .path2:before {
	content: "\e613";
	margin-left: -1em;
	color: rgb(149, 211, 195);
}
.riconnorthshore .path3:before {
	content: "\e614";
	margin-left: -1em;
	color: rgb(20, 86, 135);
}
.riconnorthshore .path4:before {
	content: "\e615";
	margin-left: -1em;
	color: rgb(18, 87, 135);
}
.riconnorthshore .path5:before {
	content: "\e616";
	margin-left: -1em;
	color: rgb(18, 87, 135);
}
.riconnorthshore .path6:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(18, 87, 135);
}
.riconriverfront .path1:before {
	content: "\e618";
	color: rgb(255, 255, 255);
}
.riconriverfront .path2:before {
	content: "\e619";
	margin-left: -1em;
	color: rgb(225, 194, 221);
}
.riconriverfront .path3:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(61, 17, 73);
}
.riconriverfront .path4:before {
	content: "\e61b";
	margin-left: -1em;
	color: rgb(61, 17, 73);
}
.riconriverfront .path5:before {
	content: "\e61c";
	margin-left: -1em;
	color: rgb(61, 17, 73);
}
.riconriverfront .path6:before {
	content: "\e61d";
	margin-left: -1em;
	color: rgb(61, 17, 73);
}
.riconriverfront .path7:before {
	content: "\e61e";
	margin-left: -1em;
	color: rgb(61, 17, 73);
}
.riconsouthside .path1:before {
	content: "\e61f";
	color: rgb(255, 255, 255);
}
.riconsouthside .path2:before {
	content: "\e620";
	margin-left: -1em;
	color: rgb(248, 192, 210);
}
.riconsouthside .path3:before {
	content: "\e621";
	margin-left: -1em;
	color: rgb(114, 14, 46);
}
.riconsouthside .path4:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(114, 14, 46);
}
.riconsouthside .path5:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(114, 14, 46);
}
.riconsouthside .path6:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(114, 14, 46);
}
.riconsouthside .path7:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(114, 14, 46);
}
.riconsouthside .path8:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(114, 14, 46);
}
