<ion-view view-title="Entertainment">
  <ion-content>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Districts
        </div>
        <select ng-model="ctrl.filter" ng-options="district for district in ctrl.districts">
        </select>
      </label>

    </div>

    <!-- ion-list is a directive that lists stuff -->
    <ion-list>
      <!-- ion-item describes a single item in an ion-list -->
      <!-- ng-repeat is a tool that uses the same conventions as -->
      <!-- an enchanced for loop (foreach loop) -->
      <ion-item ng-repeat="theater in ctrl.theaters | filter: ctrl.filter | orderBy: 'name'">
        {{theater.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
