<ion-view can-swipe-back="false">
    <ion-nav-title>{{ctrl.location.title}}</ion-nav-title>
    <ion-content overflow-scroll="true">
        <div class="list">
            <label class="item item-input item-stacked-label item-text-wrap" ng-if="ctrl.location.address1">
                <span class="input-label">Address</span>
                <p>{{ctrl.location.address1}} 
                   <span ng-if="ctrl.location.address2">{{ctrl.location.address2}}</span>
                   <br />
                   {{ctrl.location.city}}, {{ctrl.location.state}} {{ctrl.location.zipcode}}</p>
            </label>
            <label class="item item-input item-stacked-label item-text-wrap" ng-if="ctrl.location.website">
                <button class="button button-default" ng-click="ctrl.openBrowser()">Go to website</button>
            </label>
        </div>
        <div class="details-map" id="locationmap" data-tap-disabled="true"></div>
        <a class="button button-block button-default" href="geo:{{ctrl.location.latitude}}, {{ctrl.location.longitude}}">Directions</a>
    </ion-content>
</ion-view>
