<ion-view can-swipe-back="false">
    <ion-nav-title>{{ctrl.location.title}}</ion-nav-title>
    <ion-content overflow-scroll="true">
        <div class="list">
            <label class="item item-input item-stacked-label item-text-wrap" ng-if="ctrl.location.address1">
                <span class="input-label">Address</span>
                <p>{{ctrl.location.address1}} 
                   <span ng-if="ctrl.location.address2">{{ctrl.location.address2}}</span>
                   <br />
                   {{ctrl.location.city}}, {{ctrl.location.state}} {{ctrl.location.zipcode}}</p>
            </label>
            <label class="item item-input item-stacked-label item-text-wrap" ng-if="ctrl.location.website">
                <span class="input-label">Website</span>
                <p>
                    <a href="{{ctrl.location.website}}">{{ctrl.location.website}}</a>
                </p>
            </label>
        </div>
        <div class="mapClass" id="locationmap" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
